@import url('nav_bar.css');

* {
	border-sizing: border-box;
}

*:focus {
	outline: none;
}

#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
	height: 400px;
}

.row {
	height: calc(100% / 6);
	float: left;
	width: 400px;
	padding-bottom: 2px;
}

.row.empty {
	height: calc(100% / 3);
}

.col {
	width: 42%;
	float: left;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

input[type=submit], input {
	border-radius: 6px;
}

input[type=submit] {
	border: none;
	color: #fff;
	background-color: #9dc0f9;
	transition: background-color 0.5s;
}

input[type=submit]:hover {
	background-color: #5983c6;
}

input[type=email], input[type=password] {
	border: 1px solid;
}

@media screen and (orientation:portrait) {
	#container {
		margin-top: 60px;	
	}
}
