@import url('nav_bar.css');

body {
  margin: 0;
}

html, body {
	height: 95%;
}

*:focus {
	outline: 0;
}

#memo-list {
  width: 25%;
  height: 100%;
  margin-right: 0;
	float: left;
}

#new-memo-btn {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  margin-top: 0.5em;
  border-radius: 6px;
  border: none;
  height: 1.7em;
  background-color: #9dc0f9;
  color: #fff;
  transition: background-color .5s;
  font-size: 16px;
}

#new-memo-btn:hover {
  background-color: #5983c6;
	cursor: pointer;
}

.memo-card {
	border: 2px solid;
	border-radius: 6px;
	margin: auto;
	margin-top: 2em;
	width: 90%;
	position: relative;
}

.memo-card.active {
	background-color: #aaa;
}

.memo-card-title {
	font-weight: bold;
}

.memo-card-title, .memo-card-text, .memo-card-reminder {
	padding-left: 0.7em;
	padding-right: 0.7em;
}

#edit-area {
	width: 75%;
	height: 100%;
	float: right;
	margin: 0;
	margin-top: 0.5em;
}

#edit-area > * {
	margin-left: 1.66%;
	margin-right: 1.66%;
	width: calc(100% - 2 * 1.66%);
	padding-left: 0;
	padding-right: 0;
}

#new-memo-title {
	margin-bottom: 2em;
	height: 1.7em;
	border-radius: 6px;
	border: solid 1px;
}

#new-memo-text {
	height: 90%;
	border: solid 1px;
	border-radius: 6px;
	margin-top: 0.4em;
}

#below-text-area > * {
	height: 1.7em;
}

#datetime {
	margin-left: 1.5em;
}

#submit {
	float: right;
	border-radius: 6px;
	color: white;
	border: none;
  background-color: #9dc0f9;
	height: 1.7em;
	transition: background-color 0.5s;
}

#submit:hover {
	background-color: #5983c6;
}

.archive-icon {
	position: absolute;
	top: 0px;
	right: 0px;
}
